body{
    background-color: blueviolet;
    font: normal 15px arial;
}

header h1{
    color: white;
    text-align: center;
    margin-top: 100px;
}

section{
    background-color: #7321bd;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0,0,0, 0.363);
}

div{
    text-align: center;
    padding: 5px;
}

div p{
    color: white;
    font-weight: 700;
}

div p input{
    background-color: #8a2be2;
    border: 2px solid #6d11bf;
    height: 25px;
    font-size: 17px;
    padding: 5px;
    color: #fff;
}

button{
    padding: 12px 90px;
    font-size: 19px;
    background-color: #8a2be2;
    border: 1px solid #4e0e88;
    color: white;
    border-radius: 25px;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}
